/*
  _____           _ ___    
 / ___/__ ___ _  (_) _/_ __
/ (_ / _ `/  ' \/ / _/ // /
\___/\_,_/_/_/_/_/_/ \_, / 
                    /___/  

The Gamify project is an application dedicated to creating an easier life for everyone. 

The general rules of our comments follow: t.ly/TnMm
Please submit your code for review then merge through our GitHub. 

Our current city focus is: Belfast, Northern Ireland & neighbouring towns/cities. 

This is the main Homepage CSS for our website so if you could kindly avoid editing
this code without expressed purpose or permission.
*/

html,
body {
    /* The following code fixes a design issue in browsers
     where they automatically add a padding and margin
     to the body or html tag.
     See: t.ly/E8fm for more relavent information
     and potentially better solutions */
	padding: 0;
	margin: 0;
	background-color: #ed6e51
}

.header {
	/* The following code fixes a design issue in browsers
     where they automatically add a padding and margin
     to the header tag.
     See: t.ly/E8fm for more relavent information
     and potentially better solutions */
	margin: 0
}

nav {
    display: flex;
	width: 100%;
    height: 50%;
    padding-top: 20px;
	justify-content: center;
}


/* Add media queries to buttons so they are
resized for different screen sizes for reference
see: https://ibb.co/kcwpn21 */

.button {
	background: transparent;
	border: 1px solid #ffeb00;
	border-radius: 15px;
	width: 180px;
	height: 60px;
	color: #ffeb00;
	display: inline-block;
	font: normal bold 15px/60px "Roboto", sans-serif;
	text-align: center;
}

a.select {
	color: #fff;
	font: normal bold 15px/60px "Roboto", sans-serif;
	padding-left: 37px;
	text-decoration: none;
}


/* Main title, adding a feature which rotates the
text. See: https://codepen.io/amritleone/pen/qERPmW
first sentence */

h1 {
	padding-top: 60px;
	padding-left: 33.5px;
	font: normal bold 50px "Roboto", sans-serif;
	color: #fff;
}

.gettingstarted {
	border-radius: 15px;
	color: #ED6E51;
	font: normal bold 15px/60px "Roboto", sans-serif;
	font-size: 30px;
	font-weight: 100;
	background-color: #FFF574;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	margin-left: 33.5px;
 } 